h1 {
    color: rgb(125, 77, 93);
    background-color:yellow;
    border: 1px yellow;
}

p {
    color: yellow;
}

h2 {
    color:yellow;
    background-color: rgb(125, 77, 93);
    border: 1px rgb(125, 77, 93);
}

h3 {
    color:rgb(125, 77, 93);
    border: 1px solid black;
}